img {
  width: 500px; 
}
body {
  background-color: hsl(56, 57%, 60%);
}

.body_image {
  background-image: url('images/tokyo-tower.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  color: white;
  border: none;
  font-size: 18px;
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; */
  /* padding: 10px 20px; /*top&bottom left&right*/
  /* padding: 10px 20px 10px; /*top left&right bottom*/
  /* padding: 10px 20px 10px 20px; /*top left bottom right*/
  padding: 10px 20px;
  border-radius: 20px;
}
.button1 {
  background-color: rgb(6, 204, 6);
}
.button2 {
  background-color: rgb(250, 67, 67);
}

hr {
  height: 2px;
  background-color: blue;
  border: none;
}

button {
  border-radius: 20px;
  border: none;
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px; */
  padding: 10px 30px;
  margin-top: 50px;
  margin-left: 50px;
}
.en_btn {
  background-color: blueviolet;
  color: white;
  transition: 1s;
}
.dis_btn {
  background-color: rgb(198, 196, 196);
  color: rgb(70, 70, 70);
}
.en_btn:hover {
  cursor: pointer;
  background-color: rgb(205, 161, 246);
  color: black;
}

.ok_btn {
  background-color: white;
  border-width: 2px;
  border-color: blue;
  border-style: dotted;
  transition: 1s;
}
.ok_btn:hover {

}

.pg {
  margin: 50px;
  padding: 30px;
}

.p1 {
  background-color: aquamarine;
}

.p2 {
  background-color: burlywood;
}

.p3 {
  background-color: cadetblue;
}

.image {
  width: 120px;
  height: 120px;
}

.image1 {
  float: left;
  margin-right: 20px;
}

.image2 {
  float: right;
  margin-left: 20px;
}

.mark_color {
  background-color: greenyellow;
}

.unordered_list {
  list-style-type: none;
  /* list-style-image: url(images/heart.png); */
  background-color: black;
  overflow: hidden;
}

.unordered_list li {
  float: inline-start; 
}

.unordered_list li a {
  display: block; 
  color: white;
  text-decoration: none;
  padding: 20px;
}

.unordered_list li a:hover {
  color: black;
  background-color: bisque;
}

.ordered_list {
  list-style-type: lower-roman;
}
